# Elixir version
elixir_version=1.9.4

# Erlang version
# available versions https://github.com/HashNUke/heroky-biuldpack-elixir-otp-builds/blob.master.otp-versions
erlang_version=22.0.0


# if stale dependencies are not getting recompiled properly,
# force Heroku to recompile all, dependencies on each deploy
always_rebuild=true